// Specific colors
$white: #FFFFFF;
$lightgray: #FAFAFA;
$gray: #EDEDED;
$darkgray: #CCCCCC;
$lightblack: #434343;
$lightred: #FDF2F2;
$red: #CB1010;
$lightgreen: #F9FFF9;
$green: #008B00;
$black: #232323;

// Variant colors
$primary: #1974fa;
