// Specific colors
$white: #FFFFFF;
$lightgray: #FAFAFA;
$gray: #EDEDED;
$darkgray: #CCCCCC;
$lightblack: #434343;
$lightred: #FDF2F2;
$red: #F21B3A;
$lightgreen: #F0FDF4;
$green: #8CC152;
$yellow: #FFC107;
$black: #222323;

// Variant colors
$primary: #1974fa;
$success: $green;
$warning: $yellow;
$danger: $red;
