.btn {
  display: inline-block;
  text-align: center;
  user-select: none;
  padding: 0.4em 1.4em;
  border-radius: 0.5em;
  border: none;
  font-weight: 500;
  font-size: 0.9em;
  color: $white !important;
  cursor: pointer;
  margin-left: 0.5em;
  width: fit-content !important;
}

.btn-primary {
  background-color: $primary;

  &:hover {
    background-color: darken($primary, 10%);
    transition: background-color 0.2s;
  }
}

.btn-success {
  background-color: $green;

  &:hover {
    background-color: darken($green, 10%);
    transition: background-color 0.2s;
  }
}

.btn-warning {
  background-color: $yellow;

  &:hover {
    background-color: darken($yellow, 10%);
    transition: background-color 0.2s;
  }
}

.btn-danger {
  background-color: $red;

  &:hover {
    background-color: darken($red, 10%);
    transition: background-color 0.2s;
  }
}

.btn-info {
  background-color: $aquamarine;

  &:hover {
    background-color: darken($aquamarine, 10%);
    transition: background-color 0.2s;
  }
}

