// Messages
.error-messages {
  width: 30em;
  color: $red;
  background-color: $lightred;
  padding: 0.8em 1em;
  font-weight: 500;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

// Modals
.footer-modal {
  position: fixed;
  left: 2%;
  right: 2%;
  bottom: 4%;
  padding: 1.2em;
  display: flex;
  gap: 1em;
  border-radius: 0.5em;

  i {
    font-size: 2em;
  }

  .footer-content {

    p {
      color: $black;

      &:first-child {
        font-size: 1.2em;
        font-weight: 500;
      }
    }
  }
}

.footer-success {
  background-color: $lightgreen;
  border: 1px solid $green;
  color: $green;
}

.footer-danger {
  background-color: $lightred;
  border: 1px solid $red;
  color: $red;
}

// Status
.status-label {
  padding: 0.2em 1em;
  border-radius: 2em;
  font-weight: 500;
  font-size: 0.8em;
}

.label-primary {
  background-color: lighten($primary, 40%);
  color: $primary;
}

.label-success {
  background-color: lighten($success, 40%);
  color: $success;
}

.label-warning {
  background-color: lighten($warning, 42%);
  color: $warning;
}

.label-danger {
  background-color: $lightred;
  color: $danger;
}
