.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.icon-with-text {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-date {
  font-style: italic;
}

.hidden {
  display: none;
}
