@import 'abstracts';
@import 'layouts';
@import 'components';
@import 'utilities';
@import 'bootstrap-icons/font/bootstrap-icons';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

p {
  margin: 0;
}

small {
  color: darken($darkgray, 20%);
}
